<article class="article login">
    <banner class="banner" item="vm.Model">
    </banner><form class="form" role="form" ng-submit="vm.login()">
        <div class="form-header">
            <h1>Sign In</h1>
        </div>
        <div class="form-group">
            <label class="form-label" for="Username">Username</label>
            <input type="text" class="form-control" name="Username" placeholder="Username" ng-model="vm.Model.userName" required autofocus>
        </div>
        <div class="form-group">
            <label class="form-label" for="Password">Password</label>
            <input type="password" class="form-control" name="Password" placeholder="Password" ng-model="vm.Model.password" required>
        </div>
        <div class="form-group">
            <input type="checkbox" class="form-control" name="RememberMe" ng-model="vm.Model.rememberMe">
            <label class="form-label" for="RememberMe">Remember Me</label>
        </div>
        <div class="form-group">
            <input type="submit" class="btn form-btn" value="Sign In" name="Login"></input>
        </div>
        <div class="form-group form-footer">
            <a href="Account/Register">Register as a new user</a>
        </div>
        <div class="form-group form-footer">
            <a href="Account/ForgotPassword">Forgot your password?</a>
        </div>
    </form>
</article>