@import '../../Theme/_sass.scss';
.footer{
    background-color:white;
    text-align:center;
    border-top:solid 1px $primary-color;
    
    .footer-left{
        float:left;
    }
    .footer-right{
        float:right;
    }
    .footer-link{
        display:inline-block;
        line-height: normal;//descenders getting clipped off
        color: black;
        text-decoration:none;
        vertical-align:middle;
        font-size:18px;
        padding:10px;
    }
    //Corresponds to bootstrap xs device size
    @media (max-width: 767px)
    {
        .copyright{
        width:100%;
        }
        .referral{
        width:100%;
        }
    .footer-link{
        font-size:16px;
        padding:6px;
    }
    }
}